<th class="{{if active 'active'}} {{if sortPath 'sortable'}}" {{action 'sort'}} style={{computedStyle}}>

    {{yield this}}

    <span class="arrows">

        {{#if active}}

            {{#if (x-eq sortOrder 'asc')}}
                <i class="icon-expand_more"></i>
            {{else}}
                <i class="icon-expand_less"></i>
            {{/if}}

        {{else}}
            <i class="icon-unfold_more"></i>
        {{/if}}

    </span>

</th>