{{#x-modal title="Selectionner un multi-traçage" name="multiTracage-modal" onShow="onShowModal" as |facet self|}}

    {{#if facet.isHeadNote}}

        <div class="head-note"><small><i>* informations obligatoires</i></small></div>

        {{else if facet.isBody}}


        <div class="form-row with-separator">
            <div class="col-md-12">
                <label class="radio-group-label">
                    {{radio-button binding=mode value=Modes.SELECT name="multiTracageMode"}}
                    Je souhaite sélectionner un multi-traçage existant.
                </label>
            </div>

                {{#if modeIsSelection}}

                        <div class="col-md-2 u-ta-right">
                            <label>Objectif *</label>
                        </div>

                    <div class="col-md-10">
                        {{#async-filter-input uniqueSelection=multiTracage
                            selectionMaxLength=1 endpoint="lexique/multi-tracage/list" exclusions=exclude as |facet o this|}}
                            {{#if facet.isSuggestionRow}}
                                {{o.objectif}}
                            {{else if facet.isSelectedValue}}
                                {{o.objectif}}
                            {{/if}}
                        {{/async-filter-input}}
                    </div>
                {{/if}}

        </div>

        <div class="form-row">
            <div class="col-md-12">
                <label class="radio-group-label">
                    {{radio-button binding=mode value=Modes.CREATE name="multiTracageMode"}}
                    Mon multi-traçage n'existe pas, je le crée.
                </label>
            </div>

                {{#if modeIsCreation}}

                    <div class="col-md-2 u-ta-right">
                        <label>Objectif *</label>
                    </div>

                    <div class="col-md-10">
                        {{x-textarea maxlength=2000 value=multiTracage.objectif}}
                    </div>
                {{/if}}

        </div>

    {{/if}}


        {{#if facet.isFooter}}
            <div class="col-md-12 ">
                <button class="btn btn-cancel pull-left" {{action 'cancelSelection'}}>Annuler</button>
                <button class="btn btn-success pull-right" {{action 'validateSelection'}}>Valider</button>
            </div>
        {{/if}}

{{/x-modal}}