<div class="form-row with-separator">

    <div class="col-md-2 u-ta-right">
        <label for="milieu" >Milieu</label>
    </div>

    <div class="col-md-2">
        {{#multi-value-input uniqueSelection=model.milieuId selectionMaxLength=1 queryMinLength=0 filterField="libelle" suggestionProvider=LexiqueService.data.LexMilieuTracage as |part o this| }}
            {{#if part.isSuggestionRow}}
                {{o.libelle}}
            {{else if part.isSelectedValue}}
                {{o.libelle}}
            {{/if}}
        {{/multi-value-input}}
    </div>

    <div class="col-md-2 col-md-offset-1 u-ta-right">
        <label for="">Objectif du traçage</label>
    </div>

    <div class="col-md-5">
        {{x-textarea value=model.objectifTracage maxlength=2000}}
    </div>

</div>

<div class="form-row with-separator">

    <div class="col-md-2 u-ta-right">
        <label for="milieu">Visibilité</label>
    </div>
    <div class="col-md-2">
        {{x-select value=model.estPrive id="estPrive" values=Visibilites }}
    </div>

    <div class="col-md-2 col-md-offset-1 u-ta-right">
        <label for="">Commentaire Visibilité</label>
    </div>

    <div class="col-md-5">
        {{x-textarea value=model.commentairePrive maxlength=2000}}
    </div>

</div>

<div class="form-row with-separator">

    <div class="col-md-2 u-ta-right">
        <label for="milieu">Opération accidentelle</label>
    </div>
    <div class="col-md-2">
        {{x-select value=model.estAccidentelOuiNon id="estAccidentel"  values=OuiNon }}
    </div>
</div>

<div class="form-row with-separator">

    <div class="col-md-2 u-ta-right">
        <label for="multiTracage">Multi-traçage</label>
    </div>

    <div class="col-md-10">
        {{#if tracage.multiTracageId}}
            {{deletable-input value=model.multiTracageId.objectif data=model.multiTracageId action='deleteMultiTracage'}}
        {{else}}
            {{button-icon label="Selectionner un mutli-traçage" action='openModal' param='multiTracage-modal' class="form-action"}}
        {{/if}}
    </div>
</div>

<div class="form-row with-separator">

    <div class="col-md-2 u-ta-right">
        <label for="multiTracage">Opérateur</label>
    </div>

<div class="col-md-2">
        {{#async-filter-input uniqueSelection=tracage.organismeId selectionMaxLength=1 queryMinLength=0 endpoint="lexique/organisme/list" as |part o this| }}
            {{#if part.isSuggestionRow}}
                {{o.nom}}
                {{else if part.isSelectedValue}}
                    {{o.nom}}
                {{/if}}
        {{/async-filter-input}}
    </div>

        <div class="col-md-10 col-md-offset-2">
            <i>Si l'opérateur n'est pas présent dans la liste, veuillez le renseigner ici</i>
            {{input value=model.operateur class="form-control u-inline h-marged"}}
        </div>
    </div>

    <div class="form-row with-separator">
        <div class="col-md-2 u-ta-right">
            <label for="multiTracage">Conditions Climatiques</label>
        </div>

        <div class="col-md-2">
            {{x-select value=model.conditionsClimatiquesId id="conditionsClimatiquesId" labelField="libelle" values=LexiqueService.data.LexCondClimatique}}
        </div>
    </div>

    <div class="form-row with-separator">
        <div class="col-md-2 u-ta-right">
            <label for="multiTracage">Conditions hydrogéologiques</label>
        </div>

        <div class="col-md-2">
            {{x-select value=model.conditionsHydrogeologiquesId id="conditionsHydrogeologiquesId" labelField="libelle" values=LexiqueService.data.LexCondHydrogeologique}}
        </div>
    </div>

    <div class="form-row with-separator">
        <div class="col-md-2 u-ta-right">
            <label for="milieu">Remarques Générales</label>
        </div>
        <div class="col-md-4">
            {{x-textarea value=model.remarquesGenerales maxlength=2000}}
        </div>
    </div>

    <div class="form-row with-separator">

        <div class="col-md-2 u-ta-right">
            <label for="multiTracage">Maître d'ouvrage</label>
        </div>

        <div class="col-md-10">
            {{#each model.maitresOuvrageIds as |item|}}
                {{deletable-input value=item.nom data=item action='deleteMaitreOuvrage'}}
            {{/each}}
            {{button-icon label="Selectionner un maître d'ouvrage" action='openModal' param='maitreOuvrage-modal' class="form-action"}}
        </div>
    </div>

    <div class="form-row with-separator">
        <div class="col-md-2 u-ta-right">
            <label for="milieu">Images</label>
        </div>

        <div class="col-md-10">
            {{button-icon label="Ajouter" icon="icon-now_wallpaper" class="form-action add-image"}}
        </div>
    </div>