<div class="form-row with-separator">

    <div class="col-md-12">
        
        {{page-filter layoutName="components/page-filter/source-info" spec=spec onTriggerFilter=(action 'filter')}}

        {{#x-table data=model pageInfo=pageInfo onRefresh="refresh" as |facet row self|}}
            {{#if facet.isThead}}
        
                    <th></th>

                    {{#x-table.x-th sortPath="annee"
                        sortBy=pageInfo.sortBy sortOrder=pageInfo.sortOrder
                        onSort=(action 'sortBy' target=self)}}
                            Année
                    {{/x-table.x-th}}

                    {{#x-table.x-th sortPath="auteurs"
                        sortBy=pageInfo.sortBy sortOrder=pageInfo.sortOrder
                        onSort=(action 'sortBy' target=self)}}
                            Auteurs
                    {{/x-table.x-th}}

                    {{#x-table.x-th sortPath="organismes"
                        sortBy=pageInfo.sortBy sortOrder=pageInfo.sortOrder
                        onSort=(action 'sortBy' target=self)}}
                            Organismes
                    {{/x-table.x-th}}

                    {{#x-table.x-th sortPath="titre"
                        sortBy=pageInfo.sortBy sortOrder=pageInfo.sortOrder
                        onSort=(action 'sortBy' target=self)}}
                            Titre
                    {{/x-table.x-th}}

                    <th class="action-column">#</th>

            {{else if facet.isBodyRow}}

                <tr>
                    <td>{{input type="checkbox" checked=(x-eq row selectedRow) action=(action 'updateSelectedRow' row) on="click"}}</td>
                    <td>{{row.annee}}</td>
                    <td>{{row.auteurs}}</td>
                    <td>{{row.organismes}}</td>
                    <td>{{row.titre}}</td>
                    <td class="action-column">
                        <a {{action 'edit' row}} class="btn-action icon-edit"></a>
                    </td>
                </tr>

            {{else if facet.isNoResult}}

                <tr>
                     <td class="no-result" colspan="100">Aucun résultat</td>
                </tr>

            {{/if}}

        {{/x-table}}

    </div>
    <div class="u-ta-left">
        {{button-icon label="Choisir cette bibliographie" action=(action 'selectBiblio') class="form-action no-top-radius no-border-top" enabled=selectedRow}}
    </div>

</div>

{{outlet}}