    <div class="form-row with-separator">

        <div class="col-md-2 u-ta-right">
            <label for="milieu" >Nom *</label>
        </div>
        
        <div class="col-md-4">
            {{input value=model.nom class="form-control" maxlength=50}}
        </div>
        
        <div class="col-md-2 u-ta-right">
            <label for="milieu" >Prénom *</label>
        </div>
        
        <div class="col-md-4">
            {{input value=model.prenom class="form-control" maxlength=50}}
        </div>

    </div>
    
    <div class="form-row with-separator">

        <div class="col-md-2 u-ta-right">
            <label for="milieu" >Email *</label>
        </div>
        
        <div class="col-md-4">
            {{input value=model.email class="form-control" maxlength=255}}
        </div>
        
    </div>
    
    <div class="form-row with-separator">

        <div class="col-md-2 u-ta-right">
            <label for="milieu" >Organisme *</label>
        </div>
        
        <div class="col-md-4">
            {{#async-filter-input uniqueSelection=model.organismeId selectionMaxLength=1 queryMinLength=0 endpoint="lexique/organisme/list" as |part o this| }}
                {{#if part.isSuggestionRow}}
                    {{o.nom}}
                {{else if part.isSelectedValue}}
                    {{o.nom}}
                {{/if}}
            {{/async-filter-input}}
        </div>
        
    </div>
    
    <div class="form-row with-separator">

        <div class="col-md-2 u-ta-right">
            <label for="milieu" >Profils *</label>
        </div>
        
        <div class="col-md-4">
            {{#multi-value-input selection=model.lexProfils selectionMaxLength=4 queryMinLength=0 filterField="libelle" suggestionProvider=LexiqueService.data.LexProfil as |part o this| }}
                {{#if part.isSuggestionRow}}
                    {{o.libelle}}
                {{else if part.isSelectedValue}}
                    {{o.libelle}}
                {{/if}}
            {{/multi-value-input}}
        </div>
        
    </div>