{{#affixable-header class="workspace-header" affixable=(on-route CurrentRoute.path 'accounts.index' partial=true)}}

    <div class="workspace-mainInfos">
        <h2 class="workspace-title">Administrer les utilisateurs</h2>
    </div>

    <div class="workspace-contextual">
        {{#link-to "accounts.edit" "new" class="btn btn-info"}}<i class="icon-plus"></i> Créer un compte{{/link-to}}
    </div>

{{/affixable-header}}

{{page-filter layoutName="components/page-filter/account" spec=spec onTriggerFilter=(action 'filter')}}

{{#x-table data=model pageInfo=pageInfo onRefresh="refresh" as |facet row self|}}
    {{#if facet.isThead}}

        {{#x-table.x-th sortPath="nom"
        sortBy=pageInfo.sortBy sortOrder=pageInfo.sortOrder
        onSort=(action 'sortBy' target=self)}}
            Nom
        {{/x-table.x-th}}

        {{#x-table.x-th sortPath="email"
        sortBy=pageInfo.sortBy sortOrder=pageInfo.sortOrder
        onSort=(action 'sortBy' target=self)}}
            Email
        {{/x-table.x-th}}

        {{#x-table.x-th sortPath="organismeId.nom"
        sortBy=pageInfo.sortBy sortOrder=pageInfo.sortOrder
        onSort=(action 'sortBy' target=self)}}
            Organisme
        {{/x-table.x-th}}

        {{#x-table.x-th sortPath="lexProfils.libelle"
        sortBy=pageInfo.sortBy sortOrder=pageInfo.sortOrder
        onSort=(action 'sortBy' target=self)}}
            Profils
        {{/x-table.x-th}}

        <th class="action-column">#</th>

        {{else if facet.isBodyRow}}

            <tr>
                <td>{{row.prenom}} {{row.nom}}</td>
                <td>{{row.email}}</td>
                <td>{{row.organismeId.nom}}</td>
                <td>
                    {{#each row.lexProfils as |o|}}
                        <div class="maitre-ouvrage">{{o.libelle}}</div>
                    {{/each}}
                </td>
                <td class="action-column">
                    <a {{action 'edit' row}} class="btn-action icon-edit"></a>
                    {{#unless (x-eq row UserSession.user)}}
                        <a {{action 'remove' row}} class="btn-action icon-trash"></a>
                    {{/unless}}
                </td>
            </tr>

            {{else if facet.isNoResult}}

                <tr>
                    <td class="no-result" colspan="100">Aucun résultat</td>
                </tr>

            {{/if}}

        {{/x-table}}

        {{outlet}}
