<div class="form-row with-separator">

    <div class="col-md-2 u-ta-right">
        <label for="milieu" >Nom *</label>
    </div>

    <div class="col-md-4">
        {{input value=model.nom class="form-control" maxlength=50}}
    </div>

</div>
<div class="form-row with-separator">

    <div class="col-md-2 u-ta-right">
        <label for="milieu" >Type</label>
    </div>

    <div class="col-md-4">
        {{#multi-value-input uniqueSelection=model.typeId selectionMaxLength=1 queryMinLength=0 filterField="libelle" suggestionProvider=LexiqueService.data.LexTypeStructure as |part o this| }}
            {{#if part.isSuggestionRow}}
                {{o.libelle}}
            {{else if part.isSelectedValue}}
                {{o.libelle}}
            {{/if}}
        {{/multi-value-input}}
    </div>

</div>
<div class="form-row with-separator">

    <div class="col-md-2 u-ta-right">
        <label for="milieu" >Adresse</label>
    </div>

    <div class="col-md-4">
        {{x-textarea value=model.adresse class="form-control" maxlength=500}}
    </div>

</div>

<div class="form-row with-separator">

    <div class="col-md-2 u-ta-right">
        <label for="milieu" >Nom prénom du contact</label>
    </div>

    <div class="col-md-4">
        {{input value=model.contactName class="form-control" maxlength=255}}
    </div>

</div>

<div class="form-row with-separator">

    <div class="col-md-2 u-ta-right">
        <label for="milieu" >Tel. du contact</label>
    </div>

    <div class="col-md-4">
        {{input value=model.contactPhone class="form-control" maxlength=20}}
    </div>

</div>

<div class="form-row with-separator">

    <div class="col-md-2 u-ta-right">
        <label for="milieu" >Email du contact</label>
    </div>

    <div class="col-md-4">
        {{input value=model.contactMail class="form-control" maxlength=150}}
    </div>

</div>