<div class="form-row with-separator">

    <div class="col-md-2 u-ta-right">
        <label for="milieu" >Nature</label>
    </div>

    <div class="col-md-4">
        {{#multi-value-input uniqueSelection=model.nature selectionMaxLength=1 queryMinLength=0 filterField="libelle" suggestionProvider=LexiqueService.data.LexNatureSrcInfo as |part o this| }}
            {{#if part.isSuggestionRow}}
                {{o.libelle}}
            {{else if part.isSelectedValue}}
                {{o.libelle}}
            {{/if}}
        {{/multi-value-input}}
    </div>

</div>
<div class="form-row with-separator">

    <div class="col-md-2 u-ta-right">
        <label for="milieu" >Référence</label>
    </div>

    <div class="col-md-4">
        {{input value=model.reference class="form-control" maxlength=250}}
    </div>

    <div class="col-md-2 u-ta-right">
        <label for="milieu" >URL</label>
    </div>

    <div class="col-md-4">
        {{input value=model.url class="form-control" maxlength=500}}
    </div>

</div>

<div class="form-row with-separator">

    <div class="col-md-2 u-ta-right">
        <label for="milieu" >Localisation</label>
    </div>

    <div class="col-md-6">
        {{x-textarea value=model.localisationSource class="form-control" maxlength=4000}}
    </div>

</div>

<div class="form-row with-separator">

    <div class="col-md-2 u-ta-right">
        <label for="milieu" >Année</label>
    </div>

    <div class="col-md-2">
         {{x-input-number value=model.annee class="form-control"}}
    </div>

</div>

<div class="form-row with-separator">

    <div class="col-md-2 u-ta-right">
        <label for="milieu" >Titre *</label>
    </div>

    <div class="col-md-4">
        {{x-textarea value=model.titre class="form-control" maxlength=4000}}
    </div>

</div>

<div class="form-row with-separator">

    <div class="col-md-2 u-ta-right">
        <label for="milieu" >Auteurs</label>
    </div>

    <div class="col-md-4">
        {{input value=model.auteurs class="form-control" maxlength=250}}
    </div>

    <div class="col-md-2 u-ta-right">
        <label for="milieu" >Organismes</label>
    </div>

    <div class="col-md-4">
        {{input value=model.organismes class="form-control" maxlength=250}}
    </div>

</div>

<div class="form-row with-separator">

    <div class="col-md-2 u-ta-right">
        <label for="milieu" >Fichier</label>
    </div>

    <div class="col-md-4">
        {{#if fileQueue.length}}
            {{#each fileQueue as |file|}}
                {{deletable-input value=file.name data=file action='removeFileFromQueue'}}
            {{/each}}
        
        {{else}}
            {{#file-uploader class="btn btn-default btn-sm" onFilesChange="inputFilesChanged"}}
                Charger&nbsp;&nbsp;<i class="icon-publish"></i>
            {{/file-uploader}}
        {{/if}}
        
    </div>

</div>

